<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Brill's Schedule</title>
</head>
	<script src='../codebase/dhtmlxscheduler_debug.js' type="text/javascript" charset="utf-8"></script>
	<script src='../codebase/ext/dhtmlxscheduler_timeline.js' type="text/javascript" charset="utf-8"></script>
	<script src='../codebase/jquery-1.6.2.min.js' type='text/javascript' ></script>
	<script src='../codebase/knockout-1.2.1.js' type='text/javascript' ></script>
	<script src='../codebase/kobindinghandlers.js' type='text/javascript' ></script>
	<script src='../codebase/date.format.js' type='text/javascript' ></script>
	<script src='../codebase/date.js' type='text/javascript' ></script>
	<script src='../codebase/stringextension.js' type='text/javascript' ></script>

	<script src="../codebase/ext/dhtmlxscheduler_tooltip.js"></script>	
	<script src="../codebase/ext/dhtmlxscheduler_key_nav.js"></script>	
	<script src="../codebase/ext/dhtmlxscheduler_expand.js"></script>	
	<script src="../codebase/ext/dhtmlxscheduler_readonly.js"></script>	
 
	
	<script src='../codebase/jquery.ui.core.js' type='text/javascript' ></script>
	<script src='../codebase/jquery.ui.widget.js' type='text/javascript' ></script>
	<script src='../codebase/jquery.ui.mouse.js' type='text/javascript' ></script>
	<script src='../codebase/jquery.ui.position.js' type='text/javascript' ></script>
	<script src='../codebase/jquery.ui.datepicker.js' type='text/javascript' ></script>
	<script src='../codebase/jquery.ui.tabs.js' type='text/javascript' ></script>
	<script src='../codebase/jquery.ui.button.js' type='text/javascript' ></script>
	<script src='../codebase/jquery-ui-1.8.16.custom.min.js' type='text/javascript' ></script>
	
	<link rel='stylesheet' type='text/css' href='../codebase/dhtmlxscheduler.css'>
	
	
	<link rel='stylesheet' type='text/css' href='../codebase/themes/dark-hive/jquery.ui.core.css'>
	<link rel='stylesheet' type='text/css' href='../codebase/themes/dark-hive/jquery-ui-1.8.16.custom.css'>
	<link rel='stylesheet' type='text/css' href='../codebase/themes/dark-hive/jquery.ui.all.css'>
	<link rel='stylesheet' type='text/css' href='../codebase/themes/dark-hive/jquery.ui.tabs.css'>
	<link rel='stylesheet' type='text/css' href='../codebase/themes/dark-hive/jquery.ui.theme.css'>
	
<style type="text/css" media="screen">
	html, body{
		margin:0px;
		padding:0px;
		height:100%;
		min-height:100%;
		overflow:hidden;
	}	
	.one_line{
		white-space:nowrap;
		overflow:hidden;
		padding-top:5px; padding-left:5px;
		text-align:left !important;
	}
	/* **************  wait window  **************************** */    
	.flashMessage {
		margin: -4em 0px 0px -12em; border-radius: 2em; left: 50%; top: 50%; width: 24em; height: 8em; 
		text-align: center; color: rgb(255, 255, 255); line-height: 8em; font-size: 1.25em; font-weight: bold; 
		position: absolute; z-index: 10000; background-color: rgba(0, 0, 0, 0.75); text-shadow: black 1px 1px 3px;
	}
	/* **************  /wait window  **************************** */    
	
	.hidden {
		display: none;
	}
	
	.eventStyle{
		background-color:gray;
		color: white;
		background-color: gray;
		border-color: black;
	}
</style>


<body>
<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Schedule</a></li>
		<li><a href="#tabs-2">Listing</a></li>
	</ul>
	<div id="tabs-1">
	<button data-bind="click: search">Load Airings</button>
		<div class="flashMessage hidden" data-bind="fadeVisible:{condition: viewModel.isBusy, speed:250}, text: viewModel.busyMessage"></div>
		<div id="scheduler_here" class="dhx_cal_container" style='width:100%; height:550px;'>
			<div class="dhx_cal_navline" >
				<div class="dhx_cal_prev_button">&nbsp;</div>
				<div class="dhx_cal_next_button">&nbsp;</div>
				<div class="dhx_cal_today_button"></div>
				<div class="dhx_cal_date"></div>
				<div class="dhx_cal_tab" name="day_tab" style="right:204px;display:none"></div>
				<div class="dhx_cal_tab" name="week_tab" style="right:140px;display:none"></div>
				<div class="dhx_cal_prev_time_button" 
					data-bind="click: shiftTimeRight" 
					name="prev_time_tab" 
					style="float:left;right:360px">&nbsp;</div>
				<div class="dhx_cal_tab" name="timeline_tab" style="right:280px;"></div>
				<div class="dhx_cal_next_time_button" name="next_time_tab" style="float:left;right:235px">&nbsp;</div>
				<div class="dhx_cal_tab" name="month_tab" style="right:76px;display:none"></div>
				
			</div>
			<div class="dhx_cal_header">
			</div>
			<div class="dhx_cal_data">
			</div>		
		</div>
	</div>
	<div id="tabs-2">
	test2
	</div>
</div>
		

</body>


<script type="text/javascript">
	var viewModel = {

		// Busy indicators
        busyMessage: ko.observable(''),
        isBusy: ko.observable(false),

		interval: 30, // minutes per column
		intervals: 4, // number of columns
		scheduleStartHour: ko.observable(),
		
		start: function(firstHourOfSchedule){ //start:  first time to show
			
			var firstHour = firstHourOfSchedule == undefined
				? new Date().getHours() 
				: firstHourOfSchedule;
				
			viewModel.scheduleStartHour(firstHour * (60 / viewModel.interval));
			
			return viewModel.scheduleStartHour();
		},
		
		
		
        getSectionsURL: '../../networks',
		
		getSearchURL: function(){
			var schedulerState = scheduler.getState();
			/*  TW 12/6/2011 - added from doc 
				mode — current scheduler's mode, e.g. “week”, “month”
				date — current date which is shown in scheduler
				min_date — events are rendered from this date on the current view
				max_date — events are rendered till this date on the current view
				editor_id — editor id if it is present
				lightbox_id — lightbox id if it is present
			*/
			
			var startDate =  schedulerState.min_date.toISO();
			var endDate = schedulerState.max_date.toISO();
			var path = "../../schedules/schedule?startdate='{0}'&enddate='{1}'"
				.format(startDate, endDate);
				
			return path;
		},
		

		sections: ko.observableArray([]),

        // selected criteria
        startDate: ko.observable(new Date(2011, 11, 2, 0, 0, 0, 0)),
        airings: ko.observableArray([]),

        initialize: function(){
			this.loadSections();
		},
		
		createTimeLine: function(sections) {
			scheduler.locale.labels.timeline_tab = "Timeline"
			scheduler.locale.labels.section_custom="Section";
			scheduler.config.details_on_create=true;
			scheduler.config.details_on_dblclick=true;
			scheduler.config.xml_date="%Y-%m-%d %H:%i";
			scheduler.config.readonly_form = true;
			
			//===============
			//Configuration
			//===============
			scheduler.createTimelineView({
				name:	"timeline",
				x_unit:	"minute",
				x_date:	"%H:%i",
				x_step:	viewModel.interval,
				x_size: viewModel.intervals,
				x_start: viewModel.start(),
				y_unit:	sections,
				y_property:	"section_id",
				render:"bar",
				section_autoheight : false,
				dy: "25"
			});

			scheduler.templates.timeline_scale_label = function(section_id, section_label, section_options){
				return "<img src='" + section_options.Url + "' height='20px' width='30px'/>" + section_label; 
			};
			
			scheduler.templates.event_class = function(){
				return 'eventStyle';
			};
			
			scheduler.templates.tooltip_text = function(start,end,event) {
				return "<b><u>"+event.text+"</u></b>"+
					"<br/><b>Series:</b> "+event.title.seriesName+
					"<br/><b>Release Year:</b> "+event.title.releaseYear+
					"<br/><b>Rating:</b> "+event.title.rating+
					"<br/><b>Genre:</b> "+event.title.genre+
					"<br/><b>Platform:</b> "+event.platform+
					"<br/><b>Source:</b> "+event.source+
					"<br/><b>Type:</b> "+event.title.type+
					"<br/><b>Network:</b> "+event.section_id+
					"<br/><b>External Id:</b> "+event.externalId+
					"<br/><b>Start:</b> "+event.start_date.format()+
					"<br/><b>End:</b> "+event.end_date.format()+
					"<br/><b>Story Line:</b> "+event.title.storyLine ;
			};
			
			dhtmlXTooltip.config.className = 'dhtmlXTooltip tooltip'; // sets the CSS classname of the tooltip window
			dhtmlXTooltip.config.timeout_to_display = 50; // delay of the rendering
			dhtmlXTooltip.config.delta_x = 15; // X position relative to the cursor (positive - margin to the right, negative - to the left)
			dhtmlXTooltip.config.delta_y = -20; // Y position relative to the cursor (positive - above the cursor, negative - below)
			
			//===============
			//Data loading
			//===============
			scheduler.config.lightbox.sections=[	
				{name:"description", height:130, map_to:"text", type:"textarea" , focus:true},
				{name:"custom", height:23, type:"select", options:sections, map_to:"section_id" },
				{name:"time", height:72, type:"time", map_to:"auto"},
				{name:"platform", height:72, type:"textarea", map_to:"platform"}
			]
			
			scheduler.init('scheduler_here',viewModel.startDate(),"timeline");
		},

		shiftTimeRight: function(){
			//var scheduleStart = viewModel.scheduleStartHour();
			//scheduler.setCurrentView( "bar"); += 2;
			//var increment = (viewModel.interval * (viewModel.intervals / 2)) / 60;
			
			//viewModel.startDate().add(increment).hours();
			//alert (scheduleStart + ' - ' + increment + ' - ' + viewModel.startDate());
			//scheduler.date.add(1, 'hour');
			//alert(scheduler.config.x_start );
			var schedulerState = scheduler.getState();
			var startDate =  schedulerState.min_date.add(1).hours();
			alert(startDate);
			scheduler.setCurrentView(startDate, scheduler._mode);
			scheduler.dhx_changeDate(0, -1);
	
		},
		
		loadSections: function () {
			
			viewModel.isBusy(true);
			viewModel.busyMessage("Fetching sections");
			
            $.ajax({
                url: this.getSectionsURL,
                contentType: 'application/json',
                dataType: 'json',
                cache: false,
                success: function (data) {
					viewModel.busyMessage("Initializing sections");
					
					/*
					data = viewModel.filterArrayForTnt(data, function(element){
						return element.Name;
					});
					*/
					
					var mapped = $.isArray( data ) 
					? $.map( data, function( data, i ){
							return { 
								key: data.Code, label: data.Name, nielsenCode: data.NielsenCode, 
								isTurnerIndicator: data.IsTurnerNetwork, remoteIdentifier: data.ScarlettCode, Url: data.LogoUrl
							};
						}) 
					: { key: data.Code, label: data.Name, nielsenCode: data.NielsenCode, 
						isTurnerIndicator: data.IsTurnerNetwork, remoteIdentifier: data.ScarlettCode, Url: data.LogoUrl};			
							
							/* ****** sample commented by tw 12/5/2011 ******
								[
									{key:1, label:"James Smith"},
								];
								
								_id":"4edd2604385eb61f8060ae3f","Name":"ANIML","NielsenCode":null,"IsTurnerNetwork":false,"ScarlettCode":null}
							
							****** /sample commented by tw 12/5/2011 *******/
					viewModel.sections(mapped);
					viewModel.isBusy(false);
                },
                error: function (xhr, status, error) {
					alert(xhr.toString());
					alert(status.toString());
                    alert(error.toString());
					viewModel.isBusy(false);
                }
            });
        },
	
		search: function () {
            //loading drop down values.
            this.busyMessage('Loading airings . . .');
            this.isBusy(true);
            try {
                this.loadAirings();
            } catch (exception) {
                alert("An unexpected error occurred while loading page.  Please try again or contact customer support.");
            }
        },

        loadAirings: function () {
			viewModel.busyMessage("Fetching airings");
            $.ajax({
                url: this.getSearchURL(),
                contentType: 'application/json',
                dataType: 'json',
                cache: false,
                success: function (data) {
					viewModel.busyMessage("Initializing airings");
					
					/*
					data = viewModel.filterArrayForTnt(data, function(element){
						return element.Network;
					});
					*/
					
					var mapped = jQuery.isArray( data ) 
						?	$.map( data, function( data, i ){
								return { 
									start_date: viewModel.formatDate(data.StartDate), end_date: viewModel.formatDate(data.EndDate), 
									text: data.Title.Name, section_id: data.Network, externalId: data.ExternalId, 
									platform: data.Platform, source: data.Source,
									 title: { name: data.Title.Name,
											  seriesName: data.Title.SeriesName,
											  releaseYear: data.Title.ReleaseYear,
											  rating: data.Title.Rating,
											  genre: data.Title.Genre,
											  type: data.Title.Type,
											  storyLine: data.Title.Storyline}}}) 
						: { start_date: data.StartDate, end_date: data.EndDate, text: data.Title.Name, 
							section_id: data.Network, externalId : data.ExternalId, platform: data.Platform, source: data.Source,
							title: { name: data.Title.Name,
									seriesName: data.Title.SeriesName,
									releaseYear: data.Title.ReleaseYear,
									rating: data.Title.Rating,
									genre: data.Title.Genre,
									type: data.Title.Type,
									storyLine: data.Title.Storyline}};			
					
					viewModel.airings(mapped);
					viewModel.isBusy(false);
				},
                error: function (xhr, status, error) {
                    alert(error.toString());
					viewModel.isBusy(false);
                }
            });
        },
		
		filterArrayForTnt: function(array, propery){
			var tempData = [];
			$.each(array, function(i, val){
				if (propery(val) != 'TNT') return;
				tempData.push(val);
			});
			return tempData;
		},
		
		formatDate: function(dateValue){
			var dt = new Date(dateValue);
			return dt;
		},
	};
	
	viewModel.searchCompleted = ko.dependentObservable(function() {
		
		scheduler.clearAll();
		$.each(viewModel.airings(), function(i, val){
			scheduler.addEvent(val);
		});
				
	}, viewModel);
	
	viewModel.sectionsLoaded = ko.dependentObservable(function() {
		//if (viewModel.sections() != undefined && viewModel.sections().length > 0)
			//alert ('loaded' + viewModel.sections().length + '  Id: ' + viewModel.sections()[0].section_id);
		viewModel.createTimeLine(viewModel.sections());
	}, viewModel);
	
	/* sample commented by tw 12/5/2011		
		scheduler.parse([
				{ start_date: "2009-06-30 09:00", end_date: "2009-06-30 12:00", text:"Task A-12458", section_id:1},
			],"json");
	*/
	ko.applyBindings(viewModel);	
	
	$(document).ready(function() {
	  viewModel.initialize();
	  $( "#tabs" ).tabs();
	});
</script>